# HOWTO: https://pre-commit.com/#usage
# pip3 install pre-commit
# pre-commit install -t pre-commit -t pre-push

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.1
    hooks:
      - id: prettier
        exclude: archetypes|docs|data|layouts|resources|static|themes/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/packit/pre-commit-hooks
    rev: 169c6671b0175882f74acaf34ace2edf897dc375
    hooks:
      - id: check-rebase
        args:
          - git://github.com/packit/packit.dev.git
        stages: [manual, push]
