# HOWTO: https://pre-commit.com/#usage
# pip3 install pre-commit
# pre-commit install -t pre-commit -t pre-push

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        exclude: archetypes|docs|data|layouts|resources|static|themes/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/packit/pre-commit-hooks
    rev: 5cdbd6e14e148297801cfb20a8dcc6293218dde9
    hooks:
      - id: check-rebase
        args:
          - git://github.com/packit/packit.dev.git
        stages: [manual, push]
