<figure>
    <embed type="image/svg+xml" src="/images/usage/srpm_builds.svg" />
</figure>
<figure>
    <embed type="image/svg+xml" src="/images/usage/copr_build_groups.svg" />
</figure>
<figure>
    <embed type="image/svg+xml" src="/images/usage/koji_build_groups.svg" />
</figure>
<figure>
    <embed type="image/svg+xml" src="/images/usage/vm_image_build_targets.svg" />
</figure>
<figure>
    <embed type="image/svg+xml" src="/images/usage/tft_test_run_groups.svg" />
</figure>
<figure>
    <embed type="image/svg+xml" src="/images/usage/sync_release_runs.svg" />
</figure>
