
<img src="/images/build_test_workflow.jpg" usemap="#image-map">

<map name="image-map">
    <area target="" alt="" title="Packit configuration file" href="/images/example-config.png" coords="20,30,320,300" shape="rect">
    <area target="" alt="" title="Github checks set by Packit" href="/images/github-pr-checks.png" coords="380,30,700,300" shape="rect">
    <area target="" alt="" title="Copr repository created by Packit" href="/images/copr-repository.png" coords="20,360,320,570" shape="rect">
    <area target="" alt="" title="Tests in Testing Farm triggered by Packit" href="/images/test-results.png" coords="380,360,700,570" shape="rect">
</map>